
<label>
    <input type="text" [(ngModel)]="selectedPokemonId" readonly>
</label>

<label>
    <input type="text" [(ngModel)]="searchField" placeholder="search a pokemon">
</label>

<label>
    <select [(ngModel)]="selectedPokemonId">
        <option value="" disabled selected hidden>Select a pokemon...</option>
        <option *ngFor="let pokemon of pokemons |
                filterPokemonPipe : 'name' : searchField"
                [value]="pokemon.id" >
            {{ pokemon.name }}
        </option>
    </select>
</label>

<button (click)="goPokemon()" class = "button-div">Go Pokemon</button>

<div *ngIf="(pokemons | filterPokemonPipe : 'name' : searchField).length === 0" class = "alert-div">
    No pokemon found !
</div>

<div class = "text-div">
    Pokemon id : {{ selectedPokemonId }}
</div>

<div class = "text-div" *ngIf="pokemonDetails">
    <app-pokemon-detail [details]="pokemonDetails"></app-pokemon-detail>
</div>
