select, input {
    width: 200px;
    margin-left: 20px;
    font-size: 20px;
}

.text-div {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 30px;
}

.alert-div {
    margin-left: 250px;
    margin-top: 20px;
    color: red;
}

.button-div {
    margin-left: 10px;
    font-size: 20px;
}
